astroid
autopep8
certifi
chardet
defusedxml
Django
django-allauth
django-crispy-forms
django-htmx
gunicorn
idna
isort
jsmin
lazy-object-proxy
mccabe
oauthlib
pep8
Pillow
psycopg2-binary
pycodestyle
pylint
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
typed-ast
urllib3
whitenoise
wrapt
